{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/page.css?v=2') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand p-2" href="#">Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <div class="navbar-nav d-flex">
                    {% for page in pages %}
                        {% if page.enabled %}
                            <div class="nav-item p-2">
                                <a class="nav-link scroll" href="#{{ page.titleEng }}">
                                    {{ page.title }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0 pb-0">
                <img src="{{ asset('images/') }}{{ banner.imageName }}" class="img-fluid h-75 w-100 border rounded"
                     alt="{{ banner.title }}">
                <div class="actionIcon m-2">
                    <span class="actionIcon__f"><i class="fas fa-2x fa-dice-d6"></i></span>
                    <span class="actionIcon__s"><i class="fas fa-2x fa-moon"></i></span>
                    <span class="adminPanel"><i class="fas fa-2x fa-user-circle"></i></span>
                </div>
            </div>

        </div>
        {% for page in pages %}
            {% if page.titleEng!="contact" %}
                <div class="row m-1 mx-auto">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-inline-flex align-items-center justify-content-between border-bottom title-font my-3">
                        <div class="">
						<span>
							<h1 class="navbar-brand">{{ page.title }}</h1>
						</span>
                        </div>
                        <div class="headerOpen opened closed" data-toggle="collapse" data-target="#{{ page.titleEng }}"
                             aria-expanded="false" aria-controls="{{ page.titleEng }}">
                            <div class="openIcon"></div>
                        </div>

                    </div>
                    {% if page.titleEng=='tech' %}
                        {% for content in page.contents %}
                            {% for text in content.descriptions %}
                                <div class="text-center tech collapse show" id="{{ page.titleEng }}">
                                    <div class="header m-5 p-2">{{ text | raw }}</div>
                                    <div class="d-flex justify-content-around flex-wrap">
                                        {% if text=="<p>Obserwowane</p>" %}
                                            {% include 'page/help/obserwowane.html.twig' %}
                                        {% endif %}
                                        {% if text=="<p>Wykorzystywane</p>" %}
                                            {% include 'page/help/wykorzystywane.html.twig' %}
                                        {% endif %}
                                        {% if text=="<p>Pozostałe</p>" %}
                                            {% include 'page/help/pozostale.html.twig' %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% if page.titleEng=="AboutMe" %}
                        {% for content in page.contents %}
                            {% for text in content.descriptions %}
                                {% set des = text.description %}
                                <div class="text-center text-justify collapse col-xl-12 col-lg-12 col-md-12 col-sm-12 show"
                                     id="{{ page.titleEng }}">
                                    <div class="m-3"><div class="header font-weight-bold m-3">{{ content.header }}</div>
                                    <div class="d-flex flex-wrap">
                                        {{ des | raw }}
                                    </div>
                                </div></div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% for content in page.contents %}
                        {% for image in content.images %}
                            {% if image.content=="Projekty" %}
                                <div class="col-lg-6 col-md-9 col-sm-12 col-12 mx-auto mt-4 collapse cardBx show"
                                     id="{{ page.titleEng }}">
                                    <div class="card rounded w-100 h-100">
                                        <div class="card-img-top">
                                            <img class="w-100" src="{{ asset('images/') }}{{ image.imageName }}"
                                                 alt="{{ image.title }}">

                                            <div class="overlay">
                                                <div class="overlay-child">
                                                    <img src="{{ asset('images/') }}{{ image.source }}"
                                                         alt="{{ image.title }}">
                                                    <p>{{ image.title }}
                                                    </p>{% if image.title=='TestDaF' %}<small class="p-0">(Współpraca: SIGMA)</small>{% endif %}
                                                    
                                                </div>
                                            </div>
                                            <a href="{{ image.link }}" target="_blank"><i class="fas fa-link fa-1x"></i></a>
                                        </div>

                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="p-5 m-5">
            {% set socials = {
                facebook: {title: 'facebook-f', link: 'https://www.facebook.com/JurasikAlbert/' },
                instagram: {title: 'instagram', link: 'https://www.instagram.com/azazez09/?hl=pl' },
                pinterest: {title: 'pinterest', link: 'https://pl.pinterest.com/albertjurasik/boards/' },
                stackOverflow: {title: 'stack-overflow', link: 'https://stackoverflow.com/users/11214315/azez' },

            } %}
            <div class="social">
                {% for item, social in socials %}
                    <div class="m-1"><a href="{{ social.link }}" class="" target="_blank"><i
                                    class="fab fa-{{ social.title }} fa-2x"
                                    aria-hidden="true"></i></a></div>
                {% endfor %}
            </div>
            <div class="social-text text-center">social-media</div>
        </div>

    </div>
    <div class="row w-100 mt-3">
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="flash-notice alert alert-{{label}} text-lowercase">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% for page in pages %}
        {% if page.titleEng=='contact' %}
        <div class="scrollTop m-1"><a class="scroll" href="#" target="_top"><i class="fas fa-sort-up fa-2x"></i></a></div>
            <footer class="container-fluid sticky-bottom " id="{{ page.titleEng }}">
                <div class="container d-lg-flex justify-content-center d-md-flex w-100 p-2">
                    <div class="contact w-100 text-lowercase">
                        <div>
                            {{ form_start(form, {'action': path('index'), 'method': 'POST'}) }}
                            <div class="form-group">
                                Email:
                                {{ form_widget(form.email) }}
                                <div class="form-error">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="form-group">
                                Temat:
                                {{ form_widget(form.question) }}
                                <div class="form-error ">
                                    {{ form_errors(form.question) }}
                                </div>
                            </div>
                            <div class="form-group">
                                Wiadomość:
                                {{ form_widget(form.theme) }}
                                <div class="form-error">
                                    {{ form_errors(form.theme) }}
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                        <div>
                            {% for content in contents %}
                                {% if content.page=='kontakt' %}
                                    {% for text in content.descriptions %}
                                        {% if text.content=='kontakt' %}
                                            {% set des = text.description %}
                                            <div>
                                                <hr>
                                                <div class="text-uppercase"><h6>{{ content.header }}</h6></div>
                                                <div class="text-lowercase">{{ des |raw }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="general flex-column text-justify">
                        {% for content in contents %}
                            {% if content.page=='kontakt' %}
                                {% for text in content.descriptions %}
                                    {% if text.content!='kontakt' %}<hr/>
                                        {% set des = text.description %}
                                        <div class="px-3">
                                            <div class="text-uppercase"><h6>{{ content.header }}</h6></div>
                                            <div class="">{{ des |raw }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                       <!--<div class="w-100 text-muted d-inline-flex justify-content-center align-items-center text-lowercase font-weight-lighter mt-2"><div class="pr-1"><p>2020 &copy; Wszelkie prawa zastrzeżone.</p></div><div class="d-inline-flex"><i class="fab fa-bitbucket mr-1"></i><i class="fas fa-code-branch mr-1"></i><i class="fab fa-digital-ocean"></i></div></div>-->
                    </div>
                    
                </div>
                
            </footer>
        {% endif %}
    {% endfor %}

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ asset('js/actions.js') }}" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous" async></script>
{% endblock %}
