@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
//fonts
$fontSize: 1em;
$largeFont: 1.4em;
$mediumFont: 1.3em;
$smallFont: 1.2em;
$reallySmall: 0.8em;
$lSpacing: 0.10em;
$maxPadding: 2.75em;
$smallPadding: 1.5em;
//colors
$autumnC: #cd8f11;
$bgC: #f4f6f8;
$bootstrapPurple: #7f5a83;
$activeTitles: rgba(0,
0,
0,
0.5);
$black: #333;
$hoverTitles: #343a40;
$sLinkC: #339af0;
$phoneCall: #79d944;
@mixin setFont($fontName: 'Roboto Mono',
$fontConfig: monospace) {
    font-family: $fontName, $fontConfig;
}

@mixin setAnimatedSquare($top,
$left,
$time,
$type) {
    top: $top;
    left: $left;
    animation: animate $time $type infinite;
}

.flex {
    display: flex;
}

html,
body {
    margin: 0 0;
    padding: 0 0;
    scroll-behavior: smooth;
}

body {
    word-break: normal;
    background-color: $bgC;
    @include setFont;
    font-size: $fontSize;
    color: $activeTitles;
    letter-spacing: $lSpacing;
    text-transform: uppercase;
    overflow-x: hidden;
    transition: all 0.5s ease;
    a {
        text-decoration: none !important;
        color: $activeTitles;
        transition: all 0.15s ease;
    }
    &::-webkit-scrollbar {
        width: 10px;
        height: 8px;
        background-color: $activeTitles;
    }
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-thumb {
        background-color: $bgC;
    }
    &::-webkit-scrollbar-track {
        background-clip: content-box;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        width: 13px;
        border-left: 1px solid $activeTitles;
        border-right: 1px solid $activeTitles;
        border-radius: 45px/15px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        border-left: 5rem solid $activeTitles;
        border-right: 5rem solid $activeTitles;
    }
}

.actionIcon {
    position: absolute;
    top: 0;
    left: -2em;
    margin: 5px 5px;
    &__f:hover,
    &__s:hover,
    .adminPanel:hover {
        color: $hoverTitles;
        cursor: pointer;
    }
    .adminPanel,
    .adminPanel:hover {
        visibility: hidden;
        opacity: 0;
        cursor: default;
    }
    span {
        padding-top: 0.5em;
        font-size: 1em;
        display: block;
    }
}

h1 {
    &:hover {
        color: $bootstrapPurple;
    }
}

h2,
.h2 {
    font-size: $mediumFont;
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 300 !important;
}

h3 {
    text-transform: capitalize;
}

h4,
.h4 {
    font-size: $smallFont;
}

p {
    margin: 0 0 !important;
}

.a-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    a {
        @extend .a-overlay;
        width: 2em;
        height: 2em;
        top: -1em;
        right: -1em;
        z-index: 4;
        opacity: 1;
        position: absolute;
        color: $activeTitles;
        border: 1px solid $sLinkC;
        border-radius: 50%;
        transition: all ease-in .3s;
        &:hover {
            background-color: $sLinkC;
            color: $bgC;
        }
    }
}

.overlay {
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: $bgC;
    position: absolute;
    @extend .a-overlay;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    p {
        font-size: $mediumFont;
        font-weight: 300;
        padding: 0.3125em 0.3125em;
    }
    &:hover {
        opacity: 1;
    }
    .overlay-child {
        img {
            width: 6em;
            height: 6em;
        }
    }
}

nav {
    text-transform: uppercase;
    position: fixed;
    top: 0;
}

.navbar-nav {
    a {
        display: inline-block;
        position: relative;
        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $bootstrapPurple;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
    }
}

.collapse .show {
    transition: .3s transform ease-in;
}

.headerOpen {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-self: center;
    text-transform: capitalize;
}

.openIcon {
    position: relative;
    width: 100%;
    height: 100%;
    &:before,
    &:after {
        background-color: $activeTitles;
        content: "";
        position: absolute;
        transition: transform 0.25s ease-out;
    }
}

.opened {
    .openIcon {
        &:before {
            transform: rotate(90deg);
        }
        &:after {
            transform: rotate(180deg);
        }
    }
}

.closed {
    .openIcon {
        /* Vertical line */
        &:before {
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
        }
        /* horizontal line */
        &:after {
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            margin-top: -1px;
        }
    }
}

.box div {
    position: absolute;
    width: 3.75em;
    height: 3.75em;
    background-color: transparent;
    border: 4px solid $activeTitles;
    z-index: 99;
}

.activeBubbles {
    visibility: visible !important;
}

.box {
    visibility: hidden;
}

.box div:nth-child(1) {
    @include setAnimatedSquare(random(),
    70%,
    10s,
    linear);
}

.box div:nth-child(2) {
    @include setAnimatedSquare(100%,
    35%,
    5s,
    linear);
}

.box div:nth-child(3) {
    @include setAnimatedSquare(70%,
    50%,
    7s,
    linear);
}

.box div:nth-child(4) {
    @include setAnimatedSquare(17%,
    6%,
    7s,
    linear);
}

.box div:nth-child(5) {
    @include setAnimatedSquare(67%,
    10%,
    6s,
    linear);
}

.box div:nth-child(6) {
    @include setAnimatedSquare(20%,
    60%,
    6s,
    linear);
}

.box div:nth-child(7) {
    @include setAnimatedSquare(80%,
    70%,
    12s,
    linear);
}

.box div:nth-child(8) {
    @include setAnimatedSquare(60%,
    80%,
    15s,
    linear);
}

.box div:nth-child(9) {
    @include setAnimatedSquare(32%,
    25%,
    16s,
    linear);
}

.box div:nth-child(10) {
    @include setAnimatedSquare(20%,
    80%,
    30s,
    linear);
}

// Technologies / techbox
$sites: bootstrap,
symfony,
js,
php,
sass,
slack,
bitbucket,
react,
vuejs,
node-js,
node,
graphql;
$colors: #7f5a83,
#73d631,
#e6ce0d,
#8792bf,
#cf649a,
#36c5f0,
#2684ff,
#61dafb,
#41b883,
#3e863d,
#6bbf47,
#e10098;
.boxSize {
    width: 15em;
    height: 7em;
}

.tech {
    flex-direction: column;
    margin: 0 auto;
    .header {
        border: 1px solid $activeTitles;
        $font-weight: 300;
    }
}

.linkBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    /*clickable in IE */
    opacity: 0;
    filter: alpha(opacity=0);
}

.techBox {
    @extend .boxSize;
    position: relative;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .15s ease-in-out all;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        &__img {
            img {
                background-color: transparent;
                height: 96px;
                width: 128px;
            }
        }
        //https://github.com/sass/sass/issues/132
        @for $i from 1 through length($sites) {
            .fa-#{nth($sites, $i)} {
                color: nth($colors, $i);
            }
        }
    }
}

.header {
    text-transform: capitalize;
}

.activeBubble {
    color: $hoverTitles;
    &:hover {
        color: $activeTitles;
    }
}

.text-justify {
    text-transform: initial;
    text-align: justify-all;
    div {
        p,
        p+p {
            text-indent: 1.5em;
        }
    }
}

.techBox a {
    @extend .linkBox;
}

footer {
    background-color: $black;
    min-height: 16em;
    font-weight: 300;
    .contact,
    .general {
        padding: $largeFont $largeFont;
    }
    .contact {
        input {
            background-color: $bgC !important;
        }
        a:hover {
            color: #79d944;
        }
    }
    .general {
        a:hover {
            color: $sLinkC;
        }
        a::before {
            content: '➣';
            padding-right: 0.5em;
        }
    }
    //painful.. TypeForm + bootstrap...
    button {
        background-color: transparent !important;
        border: 1px solid $bgC !important;
        color: $bgC !important;
        &:hover {
            background-color: $bgC !important;
            color: $black !important;
        }
    }
}

footer,
footer a {
    color: $bgC;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0.1;
    }
}

.darkMode {
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    .nav-link,
    .navbar-light,
    .text-light,
    .navbar-light .navbar-brand {
        color: $bgC !important;
    }
    .headerOpen {
        div .openIcon {
            &::before,
            &::after {
                color: $bgC !important;
            }
        }
    }
    .overlay-child {
        p {
            color: $activeTitles;
        }
    }
}

$borderRadius: 50%;
$socials: facebook-f,
instagram,
pinterest,
stack-overflow;
$socialColors: #3b5998,
#3F729B,
#C8232C,
#EF8236;
.social {
    font-size: $mediumFont;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3em;
        height: 3em;
        background-color: $black;
        border: 1px solid $black;
        border-radius: 3%;
        color: $bgC;
        transition: all ease-in 0.2s;
        &:hover {
            background-color: transparent;
            @for $i from 1 through length($socials) {
                .fa-#{nth($socials, $i)} {
                    color: nth($socialColors, $i);
                }
            }
        }
    }
}

.social-text:before {
    border: 0.5px solid rgba($black, 0.3);
    margin-right: 1em;
    width: 7em;
    transform: translateY(-0.375em);
    display: inline-block;
    content: "";
}

@media (max-width: 1024px) {
    .isDisabled {
        cursor: pointer;
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .social-text,
    .social-text:before {
        visibility: hidden;
    }
    .social {
        flex-direction: column;
    }
    .overlay-child {
        img {
            width: 5em;
            height: 5em;
        }
    }
}

@media (max-width: 391px) {
    .overlay {
        .overlay-child {
            img {
                width: 4em;
                height: 4em;
            }
        }
    }
}

@media (max-width: 340px) {
    .overlay {
        font-size: $reallySmall;
        .overlay-child {
            img {
                width: 3em;
                height: 3em;
            }
        }
    }
}

@media (max-width: 599px) {
    .actionIcon {
        position: relative;
        left: 0;
        margin: 5px 5px;
        span {
            padding-top: 0;
            font-size: $reallySmall;
            display: inline-block;
        }
    }
}

@media (max-width: 576px) {
    .general {
        padding: $reallySmall $reallySmall !important;
    }
}

.scrollTop {
    cursor: default;
    text-align: center;
    @extend .a-overlay;
    .scroll {
        width: auto;
        color: $activeTitles;
        &:hover {
            color: $black;
        }
    }
}