{% set sites = {
    react: {title: 'react', link: 'https://pl.reactjs.org/' },
    vuejs: {title: 'vuejs', link: 'https://vuejs.org/' },
    nodejs: {title: 'node-js', link: 'https://nodejs.org/en/' },
    node: {title: 'node', link: 'https://expressjs.com/' },
    graphql: {title: 'graphql', link: 'https://graphql.org/' }
} %}

    {% for item, site in sites %}
        <div class="techBox">
            {% if site.title=='graphql' %}
                <div class="fa-{{ site.title }}"><h5>{{ site.title }}</h5></div>
            {% else %}
                <div><i class="fab fa-{{ site.title }} fa-3x"></i></div>
            {% endif %}
            <a href="{{ site.link }}" target="_blank"><span> </span></a>
        </div>
    {% endfor %}
