
{% set sites = {
    tailwind: {title: 'tailwind.css', link: 'https://tailwindcss.com/' },
    pixi: {title:'pixi.js', link: 'https://www.pixijs.com/' },
    anime: {title:'anime.js', link: 'https://animejs.com/' },
    meteor: {title:'meteor', link: 'https://www.meteor.com/' },
    less: {title:'less', link: 'http://lesscss.org/' },
    yii2: {title:'yii2', link: 'https://www.yiiframework.com/' },
    cpp: {title: 'c++', link: 'https://isocpp.org/'}
    } %}
    {% for item, site in sites %}

        <div class="techBox">
            <div><h5>{{ site.title }}</h5> <a href="{{ site.link }}" target="_blank"><span> </span></a></div>
        </div>
    {% endfor %}