
    {% set sites = {
        bootstrap: {title: 'bootstrap', link: 'https://getbootstrap.com/' },
        symfony: {title: 'symfony', link: 'https://symfony.com/' },
        js: {title: 'js', link: 'https://developer.mozilla.org/pl/docs/Web/JavaScript' },
        php: {title: 'php', link: 'https://www.php.net/' },
        sass: {title: 'sass', link: 'https://sass-lang.com/' },
        slack: {title: 'slack', link: 'https://slack.com/intl/en-pl/' },
        bitbucket: {title: 'bitbucket', link: 'https://bitbucket.org'}
    }%}

    {% for item, site in sites %}
        <div class="techBox">
            <div><h4>{{ site.title }}</h4></div>
            <div><i class="fab fa-{{site.title}} fa-3x"></i></div>
            <a href="{{ site.link }}" target="_blank"><span> </span></a>
        </div>
    {% endfor %}