<table style="border-collapse: collapse;">
    <tr style="border-collapse: collapse;">
        <th><h2>Od kogo:</h2></th>
        <td>{{ email }}</td>
    </tr>
    <tr style="border-collapse: collapse;">
        <th><h4>Temat:</h4></th>
        <td>{{ theme }}</td>
    </tr>
    <tr style="border-collapse: collapse;">
        <th>Treść</th>
        <td><p>{{ question }}</p></td>
    </tr>
</table>